    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        }

/* ----------fonts------------- */

    h3{
        letter-spacing: 2px;
        font-size: 80%;
        color: #363636;
        text-align: center;
    }

    h2{
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 190%;
        color: white;
    }

    p{
        letter-spacing: 2px;
        color: #363636;
    }

    li{
        font-weight: 500;
    }

    a{
        letter-spacing: 2px;
    }

    span{
        font-size: 100%;
        /* background-color: rgba(186, 245, 26, 0.7); */
        /* color: #9b0909; */
        font-weight: 700;
        letter-spacing: 2px;
    }
/* ----------UNIVERSAL_CALL------------- */
    .container{
        max-height: 100%;
        font-family: 'Montserrat', serif;
        font-size: 13px;
        background-image: url("img/1 (1)op8.jpg");
        color:#292929;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        padding: 0% 4%;
        
    
    }

    .scroll{
        overflow-y: scroll;
        max-height: 80vh;
    }

    ::-webkit-scrollbar {
        display: none;
        }

/* ----------COLUMN1------------- */
    .column1{
        width: 80vw;
        min-height: 20%;
        background-color: rgba(250, 250, 250, 0.8);
           /* background-color: rgba(179, 179, 179, 0.15); */
        /* display: inline-block; */
        vertical-align: top;
        padding: 0% 3% 1% 3%;
        margin: 0% 2% 0% 2%;
        overflow: hidden;

        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        
    }


            .profile_picture{
                text-align: center;
                display: inline-block;
                min-width: 10vw;
                max-width: 40vw;
                margin-top: 3%;
                /* min-height: 50vh; */
               
            }
            
            .onetwo{
                display: inline-block;
                /* max-width: 20%; */
                min-width: 25vw;
                vertical-align: top;
                /* margin-top: 5%; */
            }

            .twotwo{
                display: inline-block;
                min-width: 25vw;
                vertical-align: top;
                /* margin-top: 5%; */

            }

            .groupone{
                /* display: flex;
                flex-basis: justify; */
                /* text-align: center; */
                /* display: inline-block; */
                display: flex;
                /* justify-content: center; */
                flex-direction: row;
justify-content: center;                
                
            }

                    .name{
                        font-family: 'Libre Barcode 39 Text', cursive;
                        font-size: 350%;
                        margin-bottom: 2%;
                        color: #575757;
                        /* min-width: 10vw; */
                        max-width: 90vw;
                        
                    }

            .contact_info{
                width: 100%;
                min-height: 100%;
                /* background-color: rgba(179, 179, 179, 0.15); */
                padding-top: 4%;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 80%;
                letter-spacing: 1px;
                text-align: center;
            }

            .buttons{
                display: flex;
                align-content: center;
                /* background-color: rgb(197, 197, 197, 0.7); */
                border-radius: 8px;
                padding: 10px;
                margin-left:10px;
                margin-right: 10px;
            }
/* 
                    .button{
                        border: none;
                        padding: 5px 10px;
                        text-decoration-line: none;
                        color:white;
                        border-radius: 2px;
                        margin-left: 10px;
                        margin-bottom: 5px;
                        font-weight: 600;
                        font-size: 13px;
                        background: linear-gradient(to bottom, rgb(124, 124, 124), #383838 80%);
                        box-shadow: 0px 2px 4px rgb(134, 134, 134);
                        width: 100px;
                        text-align: center;
                    } */

            .bars{
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 10px;
                
            }

            .bio{
                width: 100%;
                min-height: 100%;
                background-color: rgba(206, 206, 206, 0.6);
                padding: 10px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 80%;
                letter-spacing: 1px;
                text-align: center;
            }


/* ----------COLUMN2------------- */

    .column2{
        display: inline-block;
        width: 80vw;
        height: 100%;
        background-color: rgba(187, 245, 27, 0.65);
        padding: 1% 3% 1% 3%;
        margin: 0% 2% 0% 2%;
        vertical-align: top;
        overflow: hidden;
    }


    .arrow{
        padding-right: 3%;
        color:rgb(93, 93, 93);
        font-size: 250%;
        width:center;
        margin-top: 3%;
        text-align: end;
    }

    .cap{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 110%;
        /* margin-right: 250%; */
    }

    .indent{
        padding-left: 6%;
    }

    .white{
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 130%;
        color: white;
        text-align: end;
        
    }

    .education{
        /* display: inline-block; */
        margin-top: 2%;
        text-align: right;    }
    
            .egroup {
                display: inline-block;
                width:50%;
                height: 100%;
                vertical-align: top;
            
            }

/* ----------COLUMN3------------- */
    .column3{
        /* display: inline-block; */
        width: 80vw;
        min-height: 20%;
        background-color: rgba(187, 245, 27, 0.3);
        padding: 0% 3% 1% 3%;
        margin: 0% 2% 0% 2%;
        vertical-align: top;
        overflow: hidden;
        
    }
    /* .column3 h2{
        text-align: end;
        color: #575757;
    } */


.vidlinks{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    vertical-align: center;
}


    .vidlinks a:hover {
        filter: brightness(50%);
        /* filter: hue-rotate(340deg); */
        cursor: pointer;
    }
            
            video{
                width:45%;
                height:100%;
                /* border-radius: 3px;  */
                margin:2%;
              

            }

/* -----------------------progress bars---------------------------- */
/* -----------------------progress bars---------------------------- */
/* -----------------------progress bars---------------------------- */


    .frontendbar{
        background-color: rgb(206, 206, 206);
        border-radius: 20px;
    padding: 4px;
    margin-bottom: 2%;
    /* text-align: end; */
    /* box-shadow: 0px 2px 4px rgb(202, 202, 202); */
    color: white;
    }
    .frontendbar>div{
        background: linear-gradient(to right, #b0cf59 10%, #cef366 90%);
        background-color: #58662a;
        animation: stretch100 1s ease-out;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.58, 1);
        max-width:100%;
        height: 5px;
        border-radius: 20px;
        /* box-shadow: 0px 2px 4px rgb(104, 104, 104); */
    }

    /* .htmlbar{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2%;
    text-align: end;
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
    color: white;
    }
    .htmlbar>div{
        background-color: #292929;
        animation: stretch90 1s ease-out;
        max-width:90%;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgb(104, 104, 104);
    }

    .reactbar{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2%;
    text-align: end;
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
    color: white;
    }
    .reactbar>div{
        background-color: #292929;
        animation: stretch40 1s ease-out;
        max-width:40%;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgb(104, 104, 104);
    } */

    .lanbar{
        background-color: rgb(206, 206, 206);
        border-radius: 20px;
    padding: 4px;
    margin-bottom: 2%;
    text-align: end;
    /* box-shadow: 0px 2px 4px rgb(202, 202, 202); */
    color: white;
    }
    .lanbar>div{
        background: linear-gradient(to right, #b0cf59 10%, #cef366 90%);
        background-color: #3E432E;
        animation: stretch100 1s ease-out;
        max-width:100%;
        height: 5px;
        border-radius: 10px;
        /* box-shadow: 0px 2px 4px rgb(104, 104, 104); */
    }
/* 
    .jsbar{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2%;
    text-align: end;
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
    color: white;
    }
    .jsbar>div{
        background-color: #3E432E;
        animation: stretch80 1s ease-out;
        max-width: 80%;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgb(104, 104, 104);
    }

    .cbar{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2%;
    text-align: end;
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
    color: white;
    }
    .cbar>div{
        background-color: #3E432E;
        animation: stretch10 1s ease-out;
        max-width:10%;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgb(104, 104, 104);
    } */

    .databar{
        background-color: rgb(206, 206, 206);
        border-radius: 20px;
    padding: 4px;
    margin-bottom: 2%;
    text-align: end;
    /* box-shadow: 0px 2px 4px rgb(202, 202, 202); */
    color: white;
    }
    .databar>div{
        background: linear-gradient(to right, #b0cf59 10%, #cef366 90%);
        background-color: #58662a;
        animation: stretch100 1s ease-out;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.58, 1);
        max-width:100%;
        height: 5px;
        border-radius: 10px;
        /* box-shadow: 0px 2px 4px rgb(104, 104, 104); */
    }
/* 
    .mysqlbar{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2%;
    text-align: end;
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
    color: white;
    }
    .mysqlbar>div{
        background-color: #616f39;
        animation: stretch30 1s ease-out;
        max-width:30%;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgb(104, 104, 104);
    }

    .mongobar{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2%;
    text-align: end;
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
    color: white;
    }
    .mongobar>div{
        background-color: #616f39;
        animation: stretch70 1s ease-out;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.58, 1);
        max-width:70%;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgb(104, 104, 104);
    }
     */
    .framebar{
        background-color: rgb(206, 206, 206);
        border-radius: 20px;
    padding: 4px;
    margin-bottom: 2%;
    text-align: end;
    /* box-shadow: 0px 2px 4px rgb(202, 202, 202); */
    color: white;
    }
    .framebar>div{
        background: linear-gradient(to right, #b0cf59 10%, #cef366 90%);
        background-color: #3E432E;
        animation: stretch100 1s ease-out;
        max-width:100%;
        height: 5px;
        border-radius: 10px;
        /* box-shadow: 0px 2px 4px rgb(173, 173, 173); */
    }
/* 
    .flaskbar{
        background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2%;
    text-align: end;
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
    color: white;
    }
    .flaskbar>div{
        background-color: #a7d129;
        animation: stretch20 1s ease-out;
        max-width:20%;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgb(173, 173, 173);
    }

    .aspbar{
        background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 2%;
    text-align: end;
    box-shadow: 0px 2px 4px rgb(202, 202, 202);
    color: white;
    }
    .aspbar>div{
        background-color: #a7d129;
        animation: stretch30 1s ease-out;
        max-width:30%;
        height: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgb(173, 173, 173);
    }
    
 */


/* ----------------------progress bar animations----------------------------- */
    
    @keyframes stretch10{
        0%{
            width: 5%;
        }
        100%{
            width: 10%
        }
    }

    @keyframes stretch20{
        0%{
            width: 5%;
        }
        100%{
            width: 20%
        }
    }

    @keyframes stretch25{
        0%{
            width: 5%;
        }
        100%{
            width: 25%
        }
    }

    @keyframes stretch30{
        0%{
            width: 5%;
        }
        100%{
            width: 30%
        }
    }

    @keyframes stretch40{
        0%{
            width: 5%;
        }
        100%{
            width: 40%
        }
    }

    @keyframes stretch50{
        0%{
            width: 5%;
        }
        100%{
            width: 50%
        }
    }

    @keyframes stretch60{
        0%{
            width: 5%;
        }
        100%{
            width: 60%
        }
    }

    @keyframes stretch70{
        0%{
            width: 5%;
        }
        100%{
            width: 70%
        }
    }

    @keyframes stretch80{
        0%{
            width: 5%;
        }
        100%{
            width: 80%
        }
    }
    
    @keyframes stretch90{
        0%{
            width: 5%;
        }
        100%{
            width: 90%
        }
    }

    @keyframes stretch98{
        0%{
            width: 5%;
        }
        100%{
            width: 98%
        }
    }

    @keyframes stretch100{
        0%{
            width: 5%;
        }
        100%{
            width: 100%
        }
    }

/* ----------------------------------------------RESPONSIVE */

    @media (min-width:1024px){

    }

    @media (max-width: 1023px) {

    }
    @media (max-width: 767){
        
    }





    .button{
        /* background: linear-gradient(to bottom, #6a7a3e, #b2e617 90%); */
        /* background: rgb(230, 230, 230); */
        border-radius: 50px;
        text-align: end;
        /* box-shadow: 0px 4px 10px #696969; */
        /* border: solid 2pt rgb(85, 85, 85); */
        color: rgb(83, 83, 83);
        width: 45px;
        height: 45px;
        text-decoration-line: none;
        padding-top: 3%;
        text-align: center;
        margin: 5px 8px;
        /* font-size: 10px; */
        /* font-weight: 400; */

        }
        .button>div{
            /* background-color: white; */
            max-width:100%;
            max-height: 20%;
            /* border-radius: 2px; */
            padding:9% 9% 9% 16%;
            font-weight: 600;
            font-size: 25px;
            display: flex;
            /* justify-content: center; */
            flex-direction: column;
            align-items: center;
        }

        .button:hover{
            filter: brightness(80%);
        }





.column0{
    width: 80vw;
    min-height: 2%;
     /* background-color: red; */
     padding: 1% 0% 0% 0%;
     margin: 0% 2% 0% 2%;
     vertical-align: top;
     overflow: hidden;
    
}

        .quick{
            background-color: rgb(172, 172, 172);
            padding-top: 2%;
            padding-right: 4%;
            display: flex;
            justify-content: flex-end;
            background-color: rgba(250, 250, 250, 0.8);   
            font-weight: 600;
            
            
        }

        .tab{
            background: linear-gradient(to bottom right, #949494, #303030 90%);
            /* background-color: rgb(235, 12, 68); */
            padding:1%;
            text-decoration-line: none;
            color: white;
            align-content: row;
            margin-right: 1%;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;
        }

        .tab2{
            /* background: linear-gradient(to bottom right, #eb0e3d, #9b0921 90%); */
            background: linear-gradient(to bottom right, #949494, #303030 90%);

            padding:1%;
            text-decoration-line: none;
            color: white;
            align-content: row;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;
        }
        
        .onetwo{
            padding-top:12%;
        }

        .twotwo{
            padding-top:12%;
        }